@charset "UTF-8";

* {
	margin: 0;
}

html,body {
		background-color: rgb(163, 203, 231);
		height: 100%;
		width: 100%;
		
	
}

nav {
	background-color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

nav input {
	margin-left: 10px;
	margin-right: 10px;
	width: 170px;
	height: 40px;
	font-size: 20px;
	padding-left: 9px;
	border: 3.5px solid rgb(163, 203, 231);
}

nav button {
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
	border: 3.5px solid rgb(163, 203, 231);
	background-color: white;
	color:rgb(163, 203, 231);
	cursor: pointer;
}

.left {
	float: left;
	width: 50%;
	background: url(../images/homepagebac.jpeg);
	height: 210%;
	
}

.right {
	text-align: center;
	float: right;
	width: 50%;
	margin-top: 200px;
	
	
}

.large{
	font-size: 50px;
}
.button {
	width: 200px;
	height: 40px; 
	font-size: 25px;
	margin-top:20px;
	color: black;
	background-color: white;
	border-radius: 10px;
	border: 3.5px solid black;
	cursor: pointer;
	}

input {
	
	width: 400px;
	margin: 5px;
	
	height: 40px; 
	font-size: 25px;
	padding: 5px;
}

